@import "../colour";
@import "../shadow";
@mixin block($base, $contrast, $shadow) {
  border: none;
  border-radius: 10px;
  color: contrast($contrast);
  background-color: base($base);
  @if ($shadow > 0) {
    filter: $shadow#{$shadow};
  }
}
