/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base/themes";
@import "base/typography";
@import "base/grid";
@import "base/shadow";
@import "base/styles/block";

.container {
  font-family: "Brandon Grotesque", sans-serif;
  @include themify($themes) {
    background-color: themed(base-0);
    color: themed(contrast-0);
  }
}

header {
  padding: 1em;
  @include block(base-0, contrast-0, 1);
  border-radius: 0;
  #logo-text {
    font-weight: 900;
    font-size: 30px;
    @include themify($themes) {
      color: themed(contrast-1);
    }
  }
}
#headerSearchbar {
  input[type="search"] {
    @include block(base-1, contrast-0, 1);
    font-size: 16px;
    background-image: url("SearchIcon.svg");
    background-size: 1.5em;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  form {
    display: flex;
  }
  button {
    @include block(base-1, contrast-0, 1);
    margin-left: 5px;
    display: flex;
    justify-content: flex-end;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0px;
  font-weight: 500;
  font-size: 32px;
  @include themify($themes) {
    color: themed(contrast-0);
  }
}
h2 {
  margin: 0px;
  font-family: "Brandon Grotesque";
  font-size: 24px;
  @include themify($themes) {
    color: themed(contrast-0);
  }
}
p {
  margin-top: 4px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  @include themify($themes) {
    color: themed(contrast-0);
  }
}
